{% extends "main.html" %}

{% block content %}

<body>
    <h1>ROL</h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">23 ENERO 2023</h5>
          <h6 class="card-subtitle mb-2 text-muted">Rol de Cantos</h6>

          <!-- ESTRUCTURA DE LISTA -->

          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">TU ERES DIGNO DE GLORIA</div>
                GERRY MARQUEZ
              </div>
              <span class="badge bg-primary rounded-pill">C</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">LOS MUROS CAERAN</div>
                MIEL SAN MARCOS
              </div>
              <span class="badge bg-primary rounded-pill">Bm</span>
            </li>
            
          </ol>
          
        </div>
    </div>

</body>


{% endblock %}